<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>loginForm</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />

</head>
<body class="main-container">
 <div th:if="${failureMessage != null}" th:text="${failureMessage}"></div>
<form th:action="@{/login}" method="post">
    <table>
        <tr>
            <th>ID</th>
            <td><input type="text" name = "username" /></td>
        </tr>
        <tr>
            <th>Pass</th>
            <td><input type = "password" name = 'password'/></td>
        </tr>
    </table>
    <input type="submit" value="ログインする">
</form>
 <form th:action="@{/signup}" method="get">
     <input type="submit" value="サインアップする" />
 </form>
 <button onclick="history.back();">戻る</button>
</body>
</html>