<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div sec:authorize="isAuthenticated() and authentication.name != 'anonymousUser'">
    こんにちは:<span sec:authentication="name"></span>さん
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="ログアウト" />
    </form>
</div>
<div sec:authorize="!isAuthenticated() or authentication.name == 'anonymousUser'">
    <form th:action="@{/login}" method="get">
        <input type="submit" value="ログイン" />
    </form>
    <form th:action="@{/signup}" method="get">
        <input type="submit" value="サインアップする" />
    </form>
</div>
<a href="/products/List">商品一覧</a>
<div sec:authorize="isAuthenticated() and authentication.name != 'anonymousUser'">
    <a href="/order/confirm">カートを確認する</a><br>
    <a href="/order/List">注文履歴を見る</a><br>
    <div sec:authorize="hasRole('ADMIN')">
        <a href="/products/regist">商品を登録する</a>
    </div>
</div>
</body>
</html>